{%- assign title = site.title -%}
{%- assign description = site.description -%}

{%- if page.url != '/' -%}
  {%- assign title = page.title | append: ' | ' | append: site.title -%}
  {%- assign description = page.description -%}
{%- endif -%}

{%- assign title = title | escape -%}
{%- assign description = description | escape -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.css">
    <link rel="icon" href="{{ '/assets/img/icon.png' | relative_url }}">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container-fluid vw-100 vh-100 d-flex flex-column justify-content-center align-items-center bg-dark text-light">
      {{ content }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
